@page
@model ModifyProductModel
@{
    ViewData["Title"] = "ModifyProduct";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form method="post">
      <!--  <label class="form-control">@Model.ProductToModify.Id</label>-->
        <label>Name</label>
        <input type="text" class="form-control" name="name" value="@Model.ProductToModify.Name">
        <label>Price</label>
        <input type="text" class="form-control" name="price" value="@Model.ProductToModify.Price">
        <label>Details</label>
        <input type="text" class="form-control" name="details" value="@Model.ProductToModify.Details">
        <label>Amount</label>
        <input type="text" class="form-control" name="amount" value="@Model.ProductToModify.Amount">
        <label>Category</label>
        <select class="form-control" name="category">
            <option value="@Model.ProductToModify.Category"></option>
            @foreach(string cat in Model.Categories){
                <option value="@cat">@cat</option>
            }
        </select>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>