@page
@model ProductDetails
@{
    ViewData["Title"] = "ProductDetails";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Detail</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <th>@Model.Product.Name</th>
                    <th>@Model.Product.Price €</th>
                    <th>@Model.Product.Details</th>
                    <th>
                        <img src="@Model.Product.Image" alt="">   
                    </th>
                </tr>
            
        </tbody>
    </table>
    <a asp-page="/products">Back to products</a>
</div>