@model WebAppMvc.ViewModels.DeleteViewModel
@{
    ViewData["Title"] = "DeleteProduct";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form method="post">
        <div class="form-group">
            <p>@Model.ProductToDelete.Id</p>
            <p>@Model.ProductToDelete.Name</p>
            <p>@Model.ProductToDelete.Details</p>
        </div>
        <button type="submit" class="btn btn-primary" asp-route-id="@Model.ProductToDelete.Id">Delete</button>
    </form>
</div>